.dashboard-component {
  .main-container {
    background-image: url('../../../assets/banner.png');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;

    button {
      position: relative;
      top: 65%;
      left: 42.5%;
    }
  }
}
