<div class="appointments-component">
  <div class="selected-employee">
    <mat-form-field>
      <mat-label>Angajati</mat-label>
      <mat-select
        [(ngModel)]="selectedEmployee"
        (selectionChange)="updateAppointments($event.value)"
        multiple
      >
        <mat-option *ngFor="let employee of employees" [value]="employee">{{
          employee.firstName
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <dx-scheduler
    [dataSource]="appointmentsData"
    [views]="['week', 'day', 'month']"
    currentView="week"
    [currentDate]="currentDate"
    [startDayHour]="9"
    [endDayHour]="21"
    [height]="500"
    [editing]="editingOptions"
    appointmentTooltipTemplate="tooltip-template"
    (onCellClick)="onCellClick($event)"
    (onAppointmentDblClick)="onAppointmentDblClick($event)"
  >
    <dxi-resource
      fieldExpr="id"
      label="Angajat"
      [allowMultiple]="true"
      [dataSource]="employees"
    >
      [useColorAsDefault]="selectedResource === 'Owner'">
    </dxi-resource>

    <div *dxTemplate="let appointment of 'tooltip-template'">
      <div class="appointment-tooltip" fxLayout="column">
        <div class="appointment-name">
          <p>{{ appointment.text }}</p>
        </div>
        <div class="appointment-actions" fxLayout="row" fxLayoutAlign="space-around start">
            <button mat-raised-button color="primary"
            (click)="openDialog(appointment)">
            <mat-icon>edit</mat-icon>
                Modifica
          </button>
            <button mat-raised-button color="accent"
            (click)="deleteAppointment(appointment)">
            <mat-icon>delete</mat-icon>
                Sterge
          </button>
        </div>
      </div>
    </div>
  </dx-scheduler>
</div>
