<div class="navbar-component">
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <mat-nav-list fxLayout="column">
        <mat-list-item [routerLink]="">Despre</mat-list-item>
        <mat-list-item [routerLink]="['/appointments']" (click)="sidenav.close()">Programari</mat-list-item>
        <mat-list-item [routerLink]="['/employees']" (click)="sidenav.close()">Angajati</mat-list-item>
        <mat-list-item [routerLink]="['/contact']" (click)="sidenav.close()">Contact</mat-list-item>
        <mat-list-item *ngIf="!authService.isAuthenticated()" [routerLink]="['user/register']" (click)="sidenav.close()" >Autentifica-te</mat-list-item>
        <mat-list-item *ngIf="authService.isAuthenticated()" [routerLink]="['user/profile']" (click)="sidenav.close()">Detalii cont</mat-list-item>
        <mat-list-item *ngIf="authService.isAuthenticated()" (click)="authService.signOut(); sidenav.close()">Deconectare</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary" #toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>
          <span>Frizeria din Subsol</span>
          <span class="example-spacer"></span>
        </div>
        <div fxLayout="row">
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <div fxShow="true" fxLayout="row" fxLayoutAlign="end center" fxHide.lt-md="true">
            <a href="#" mat-button>
              Despre
            </a>
            <a href="#" mat-button>
              Servicii
            </a>
            <a [routerLink]="['/appointments']" href="#" mat-button>
              Programari
            </a>
            <a [routerLink]="['/employees']" mat-button>
              Angajati
            </a>
            <a href="#" mat-button>
              Contact
            </a>
            <a *ngIf="!authService.isAuthenticated()" href="#" [routerLink]="['user/register']" mat-button>
              Conecteaza-te
            </a>
          </div>
          <div *ngIf="authService.isAuthenticated()">
            <a [matMenuTriggerFor]="userProfile" mat-button>
              <img class="user-image" [src]="authService.currentUser.photoUrl" /> {{ authService.currentUser.name }}
            </a>
            <mat-menu #userProfile="matMenu">
              <button mat-menu-item [routerLink]="['user/profile']">Detaill cont</button>
              <button mat-menu-item [routerLink]="['user/appointments']">Programari</button>
              <button mat-menu-item (click)="authService.signOut()">Sign Out</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content" #main>
      <router-outlet></router-outlet>
    </div>
    <div class="footer" backgroundColor="primary" #footer>
      © Copyright 2019 MISSOLUTION | Privacy
    </div>
  </mat-sidenav-container>
</div>